
#card{
	margin:0 auto;
	width:302.5px;
	border:1px solid lightgrey;
	padding-left:11px;
	padding-bottom: 11px;
	padding-right:11px;
	box-shadow: 6px 7px 0px 1px rgba(0,0,0,0.05);

}
.details{
	
	border:1px solid lightgrey;
	padding-left:10px;
	padding-right:10px;
	margin-top:5px;
}

#fact{
	font-style:italic;
}
.list{
	list-style-type: none;
	padding-left:0;
}
.list span{
	font-weight:bold;
}